@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));



/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  font-family: var(--font-geist-mono);
}

.prose :is(h2, h3, h4, h5, h6) {
  font-weight: bold;
}

.prose :is(h2) {
  font-size: 1.4em;
}

.prose :is(h3, h4, h5, h6) {
  font-size: 1.2em;
}

.prose :is(h2, h3, h4, h5, h6, p, hr, ul, ol) {
  margin-bottom: 1rem;
}

.prose :is(a) {
  color: blue;
}